langchain
google-generativeai
python-dotenv
faiss-cpu
langchain_google_genai
langchain_community
langchain-text-splitters
langchain-google-genai
faiss-cpu
PyPDF2
pdf2image
flask
flask-cors
requests
pdfplumber
jinja2
pdfkit
aiohttp==3.8.1
pdfplumber==0.7.6
reportlab==3.6.12
json_repair==0.1.1
aiofiles
